extends layout

block content
  div(id='container')
    form(action="/scrape-images", method="GET")
     input(type="text", name="url", placeholder=(url ? url : ""))
    div
     ul
      for image in images
       li(style="display:none;")
        div(class="item", style="background:url(#{image.url}) no-repeat center center; background-size: cover;")
        h3 #{image.alt}