extends layout

block content
  p source: #{url}
  form(action="/scrape-images", method="GET")
   input(type="text", name="url" placeholder="enter a URL")
   input(type="submit", value="submit")
  div
   ul
    for image in images
     li
      div(style="background:url(#{image.url}) no-repeat center center; background-size: cover;")
      h3 #{image.alt}