body {
  padding: 50px;
  font: 16pt "Helvetica Neue";
}

a {
  color: #00B7FF;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	background-color: #F8F8F8;
	margin: 5px;
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	padding: 5px;
}

img {
	width: 100%;
}

 h3 {
 	font-size: .6em;
 	letter-spacing: .01em;
 	text-transform: uppercase;
 	padding: 0;
 	margin: 0;
 }