body {
	color: #FFFFFF;
	background-color: #BFBDB0;
	padding: 50px;
	font: 16pt "HelveticaNeue-Light";
	font-weight: 300;
	letter-spacing: 1px;
}

input {
	width: 100%;
	color: #BFBDB0;
	padding: 5px;
	font-size: 16pt;
	font-family: 'HelveticaNeue-Light';
	letter-spacing: 1px;
	background-color: #FFFFFF;
	background: #FFFFFF url(/images/search.svg) left no-repeat;
	padding-left: 40px;
	height: 40px;
	width: 500px;
	border: none;
	border-left: 10px solid #FFFFFF;
	border-radius: 4px;
	outline: none;
}

::-webkit-input-placeholder {
   color: #BFBDB0;
}

input:focus{
	color: #73716A;
	background: #FFFFFF url(/images/search2.svg) left no-repeat;
}

input:focus::-webkit-input-placeholder {
	color: #73716A;
}


ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	display: inline-block;
	margin: 5px;
	width: 215px;
	height: 215px;
}

li div {
	width: 185px;
	height: 185px;
	background-size: 40%;
	border-radius: 4px;
}

li div:after {
	content: "";
	display: block;
	height: 185px;
	width: 185px;
/*	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	border-radius: 4px;
}

li div:hover:after{
	background: rgba(136,16,7, 0.4);
}

h3 {
	font-weight: 300;
	max-width: 185px;
	font-size: .5em;
	text-align: center;
/*	letter-spacing: .05em;
*/	/*text-transform: uppercase;*/
	padding: 4px;
	margin: 0;
}