body {
	color: #181818;
	background-color: #bfbdb0;
	padding: 50px;
	font: 16pt "Helvetica";
}

input[type=text]{
	color: #181818;
	padding: 5px;
	font-size: 16pt;
	font-family: 'Helvetica';
	background-color: #FFFFFF;
	height: 40px;
	width: 500px;
	border: none;
	border-radius: 4px;
	outline: none;
}

input[type=text]:after{
	content: "hi";
	background: url(/images/search.svg);
	display: inline-block;
	height: 40px;
	width: 40px;
}

input[type="submit"]{
	text-align: left;
	display: block;
	width: 510px;
	background: #FFFFFF;
	border: none;
	border-radius: 4px;
}

::-webkit-input-placeholder {
   color: #060606;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	display: inline-block;
	margin: 5px;
	width: 215px;
	height: 215px;
}

li div {
	width: 185px;
	height: 185px;
	background-size: 40%;
	border-radius: 4px;
}

li div:after {
	content: "";
	display: block;
	height: 185px;
	width: 185px;
/*	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	border-radius: 4px;
}

li div:hover:after{
	background: rgba(136,16,7, 0.4);
}

h3 {
	max-width: 185px;
	font-size: .6em;
	letter-spacing: .01em;
	/*text-transform: uppercase;*/
	padding: 0;
	margin: 0;
}